/* article {
  position: absolute;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 50vw;
  background-color: aqua;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 23px;
  background: #ffffff;
  box-shadow: 22px 22px 44px #d9d9d9, -22px -22px 44px #ffffff;
} */
body {
  background-color: #36454f;
}
.boxes {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  width: 80vw;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.box {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 14vw;
  border-radius: 5px;
  background: white;
}
.choices {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 50vw;
  width: 50vw;
  transform: translateX(-50%);
  top: 40vh;
}
#color {
  position: absolute;
  left: 50vw;
  top: 35vh;
  transform: translateX(-50%);
}
label {
  margin-right: 5vw;
  color: white;
}
h2 {
  font-size: 1rem;
  transform: translateY(800%);
  color: white;
  text-transform: uppercase;
}
